* {
    box-sizing: border-box;
  }
  html,
  body {
    padding: 0;
    margin: 0;
    overflow: hidden;
  }
.wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 0;
    height: 100vh;
    min-width: 400px;
    margin: 0 auto;
  }
  .leaderboard-container {
    grid-column: 1 / 4;
    grid-row: 1 / 13;
    background-color: red;
    overflow: scroll;
    justify-content: center;
    align-content: center;
    text-align: center;
  }
  .leaderboard {
    border: 2px black solid;
    font-family: "Lato", sans-serif;
    font-size: 1em;
    margin: 10px;
    padding: 5px;
    text-align: left;
  }
  .leaderboard-score {
    border-bottom: 1px black solid;  
    margin: 20px 0 20px 0;
  }
  .play-container { 
    grid-column: 4 / 10;
    grid-row: 1 / 13;
    background-color: blue;
  }
  .info-container {
    grid-column: 10 / 13;
    grid-row: 1 / 13;
    background-color: green;
    justify-content: center;
    align-content: center;
    text-align: center;
  }
  .stats-list {
    border: 2px black solid;
    font-family: "Lato", sans-serif;
    font-size: 1em;
    margin: 10px;
    padding: 5px;
    text-align: left;
  }
  .stats {
    border-bottom: 1px black solid;  
    margin: 20px 0 20px 0;
  }

  @media (max-width: 800px) {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, 1fr);
        grid-gap: 0;
        height: 100vh;
        margin: 0 auto;
      }
      .leaderboard-container {
          display: none;
      }
      .play-container { 
        grid-column: 1 / 13;
        grid-row: 1 / 13;
        background-color: blue;
      }
      .info-container {
          display: none;
      }
  }